body{
	font-family: 'Montserrat', sans-serif;
}
nav{
	background:#00f4a3;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	
}
 ul li{
	display: inline-block;
}
 ul li a{
	color: grey;
	text-decoration: none;
	font-size: 21px;
	font-family: 'Montserrat', sans-serif;
}
 ul li a:hover{
	color: violet;
	text-decoration: none;
}
.navbar{
	display: inline-block !important;
    position: absolute !important;
    width: 250px;
}
.slick-prev, .slick-next{
display: none !important;
}

.contenedor-grid{
	display: grid !important;
	grid-template-columns: 250px 1fr;
	background: #F5F7FA;
}
.contenedor-nav{
	    display: grid !important;
    grid-template-rows: 1fr 350px 1fr;
}
.menu-nav{
	width: 100%;
	display: grid;
}
.logo_aquarella{
	    width: 100%;
}

.get-social{
	position: absolute;
    bottom: 30px;
}
.get-social li a{
	color: #6d00ff;
	padding:10px
}
.info-contact{
	 position: absolute;
    display: grid;
    bottom: 100px;
}
.menu-category{
    background: #F5F7FA;
    width: 150px;
    border-right: 1px solid #ccc;
    height: 100vh;
    display: inline-grid;
    position: absolute;
    z-index: 1;
    top: 0px;
}
.fp-controlArrow{
	display: none;
}
.section-home{
	background: #F5F7FA;

	height: 100vh;
}
.section-about{
	background: #F5F7FA;
	height: 100vh;
}

.section-producto{
	background:#F5F7FA;
	height: 100vh;
}
.section-contact{
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: #F5F7FA;
	height: 100vh;
}


/*****************************home*******************+***/
.inf{
	position: absolute;
	z-index: 1;
	bottom: 50%;
	left: 8%;

}

.center{
	    width: auto !important;
}

.menu-collapse{
	position: absolute;
	bottom: 111px;
}

.menu-collapse{
	background:#00f4a3;
	width: 250px;
	padding: 20px;
}
.icon-menu{
	font-size: 30px !important;
    color: black;
    padding-right: 20px;
    float: right;
}

.border-menu{
	    border-bottom: 1px solid #ccc;
}
#info .fa-map-marker{
	padding-top: 29px;
}
#info div{
	    padding-bottom: 15px;
}

#info strong{
	 font-size: 12px !important;
	font-family: 'Montserrat', sans-serif;

}
.informacion{
	background: #CCc;
}
/*****************************producto*******************+***/
.section-producto .fp-tableCell{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    align-content: center;
}

.section-producto .fp-tableCell .cards-producto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 21px;
}
.section-producto{
	background: #F5F7FA;
	height: 100vh;
}

.card-articulo{
	background: white;
	border: 1px solid lightblue;
}
.logo-afiliados .slick-list{
	height: 149px !important;
}
.btn-primary {
    color: black !important;
    background-color: white !important;
    border-color: #007bff;
}
/*****************************contact*******************+***/
.section-contact .fp-tableCell{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 34px;
	
}

.border-maps{
	padding: 11px;
    border: 2px dashed palevioletred;
}


.form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}


.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 15px;
    
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #109177;
}


/*****************************footer*******************+***/





